In [18]:
pip install pandas

Requirement already satisfied: pandas in /Users/elnazshahzeidi/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/elnazshahzeidi/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/elnazshahzeidi/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/elnazshahzeidi/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/elnazshahzeidi/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/elnazshahzeidi/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd
from scipy import stats
import numpy as np

In [36]:
# Load the data

data = pd.read_csv('/Users/elnazshahzeidi/Downloads/machine copy.txt', sep='\t', encoding = 'utf -16')
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [38]:
# Step 1: Extract packing times for new and old machines

new_machine_times = data.iloc[:, 0]
old_machine_times = data.iloc[:, 1]

new_machine_times

0    42.1
1    41.0
2    41.3
3    41.8
4    42.4
5    42.8
6    43.2
7    42.3
8    41.8
9    42.7
Name: New machine, dtype: float64

Step 2: Define the hypotheses


H0: μ_new_machine ≤ μ_old_machine (the new machine does not pack faster)

H_a: μ_new_machine > μ_old_machine (the new machine packs faster)

In [39]:
# Step 3: Calculate sample statistics



n1 = len(new_machine_times) 
n2 = len(old_machine_times)   
m1 = np.mean(new_machine_times)  
m2 = np.mean(old_machine_times)   
s1 = np.std(new_machine_times, ddof=1)  
s2 = np.std(old_machine_times, ddof=1)

In [40]:
t_statistic = (m1 - m2) / np.sqrt((s1**2 / n1) + (s2**2 / n2))
t_statistic

-3.397230706117603

In [42]:
# Step 4: Degrees of freedom

df = (n1 - 1) + (n2 - 1)
df

18

In [45]:
from scipy.stats import ttest_ind, norm

ttest_ind(new_machine_times, old_machine_times)

TtestResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158, df=18.0)

Decision Making:

Given the p-value "0.0032" is less than the significance level ,and the value of t-statistic is -3.39 which is bigger that the value of t in the table(1.73).

This provides evidence that the new machine packs faster than the old machine.

In [62]:
# Lab 2:

data2 = pd.read_csv('/Users/elnazshahzeidi/Downloads/student_gpa.txt', sep='\t') 
data2

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [64]:
data2.columns = data2.columns.str.strip()

In [66]:
# Step 1: Extract GPAs for sophomores and juniors

sophomore_gpas = data2 ['Sophomores'].dropna().values  # Drop any NaN values
junior_gpas = data2 ['Juniors'].dropna().values

Step 2: Define the hypotheses

H0: μ_sophomores = μ_juniors

H_a: μ_sophomores ≠ μ_juniors

In [67]:
# Step 3: Calculate sample statistics
n1 = len(sophomore_gpas) 
n2 = len(junior_gpas)   
m1 = np.mean(sophomore_gpas)  
m2 = np.mean(junior_gpas)     
s1 = np.std(sophomore_gpas, ddof=1)  
s2 = np.std(junior_gpas, ddof=1)

In [68]:
ttest_ind(sophomore_gpas, junior_gpas)

TtestResult(statistic=-0.864325455323425, pvalue=0.39475359666695975, df=28.0)

Given the p-value is bigger than the significance level ,and the value of t-statistic  which is less that the value of t in the table, indicating that there is not enough evidence to reject the null hypothesis.